.App {
  text-align: center;
}
table{
  width:80%;
  margin-left: 10%;
  margin-top: 3%;
}
table, tr , td ,th{
  border: 1px solid black;
  padding:1%;
}
button{
  padding:1%;
  width:10%;
  margin-top: 2%;
}
button:hover{
  cursor: pointer;
}